<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://groupshop.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>groupshop.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>GroupShop</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$GroupShop</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="OracleDbContext" Order="1" Enabled="False">
          <Destination Path="Data Source=140.117.79.132:1521/pdb4;User ID=GROUP6;Password=adATgroup6" Name="DATA SOURCE=140.117.79.132:1521/pdb4;USER ID=GROUP6;PASSWORD=adATgroup6" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="GroupShop.Models.MemberDbContext, GroupShop" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="GroupShop.Models.OracleDbContext" Order="2" Enabled="False">
          <Destination Path="Data Source=140.117.79.132:1521/pdb4;User ID=GROUP6;Password=adATgroup6" Name="DATA SOURCE=140.117.79.132:1521/pdb4;USER ID=GROUP6;PASSWORD=adATgroup6" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="GroupShop.Models.OracleDbContext, GroupShop" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)GroupShop.Models.OracleDbContext-Web.config Connection String">
      <ParameterValue>DATA SOURCE=140.117.79.132:1521/pdb4;USER ID=GROUP6;PASSWORD=adATgroup6</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)OracleDbContext-Web.config Connection String">
      <ParameterValue>DATA SOURCE=140.117.79.132:1521/pdb4;USER ID=GROUP6;PASSWORD=adATgroup6</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="GroupShop.Models.OracleDbContext" />
  </ItemGroup>
</Project>